.panel {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
  
    .content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10% 90%;
      justify-items: center;
      align-items: center;
  
      h1 {
        font-size: 30px;
        font-family: 'Orbitron';
        font-weight: 600;
        height: 20%;
      }

      h2{
        margin-top: -35%;
        margin-right: 50%;
        font-size: 12px;
        font-family: 'Orbitron';
        font-weight: 200;
        height: 40%;
        color: #de2b6e;
    }
      h3{
        font-size: 12px;
        font-family: 'Orbitron';
        font-weight: 200;
        height: 40%;
        color: #de2b6e;
    }

    ion-card-header{
      top:-20%;

      ion-avatar {
        width: 60px;
        height: 60px;
        align-self: left;
      }
      ion-button{
        margin-left: 240px;
        color: #de2b6e;
        font-size: 10px;
        
        ion-icoon {
          top: -50%;
        }
        
      }
      ion-card-title {
        top:-60px;
        color: #de2b6e;
        margin-left: 35%;
        font-family: 'Orbitron';
        font-weight: 400;
        font-size: 15px;
      }
      ion-card-subtitle{
        top:-55px;
        color: #de2b6e;
        margin-left: 37%;
        font-family: 'Orbitron';
        font-weight: 150;
        font-size: 8px;
      }
    }
    ion-card{
      top: -100%;
      font-weight: 150;
    }
  }
    .header {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      ion-button {
        background-color: #de2b6e;
        height: 70%;
        border-radius: 5px;
        margin: 30px 10px 20px 10px;
      }
  
      ion-chip {
        font-size: 22px;
        margin: 30px 10px 20px 10px;
        height: 60px;
        
        ion-avatar {
          width: 40px;
          height: 40px;
  
        img {
          margin-left: 5px;
        }
      }
    }
  }
  
  .footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      width: 250px;
    }
  }
  }
  